html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Find what you like, Pin what you find
    link(rel='stylesheet', type='text/css', href='template_login.css')
    script(type='text/javascript', src='jquery.min.js')
    script(type='text/javascript', src='jquery.kwicks-1.5.1.pack.js')
    script(type='text/javascript').
      $().ready(function() {
      $('.slider').kwicks({
      max : 740,
      spacing : 1
      });
      });
  body
    .cleaner.h30
    #templatelogin_top_wrapper
      #templatelogin_top
        #templatelogin_menu.menu
          ul
            li
              a(href='HomePage.html') Find what you like, pin what you find
            li
              a(href='login.html') Login
            li
              a(href='register.html') Register
    #templatelogin_main_top
    #templatelogin_slider_wrapper
      ul.slider
        li#slide_1
          a(href='london.html')
            img(src='slider/London_2012.jpg')
        li#slide_2
          a(href='beijing.html')
            img(src='slider/Beijing_2008.jpg')
        li#slide_3
          a(href='athens.html')
            img(src='slider/Athens_2004.jpg')
        li#slide_4
          a(href='sydney.html')
            img(src='slider/Sydney_2000.jpg')
    #templatelogin_footer
      div
        | Copyright © 2013
        a(href='#') All about Photos
        | | by
        a PanDa Group: Fangyuan Chen, Shengda Ding, Yuanjie Qu, Xinyu Zhao
