html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Find what you like, Pin what you find
    link(rel='stylesheet', type='text/css', href='template_login.css')
  body
    .cleaner.h30
    #templatelogin_top_wrapper
      #templatelogin_top
        #templatelogin_menu.menu
          ul
            li
              a(href='front.html') Find what you like, pin what you find
            li
              a.selected(href='login.html') Login
            li
              a(href='register.html') Register
    if UserNotExist
       h1(align='center' style="color:red;") This user doesn't exist!
    #templatelogin_main_top
    #templatelogin_slider_wrapper
      section#content
        form(method='post', action='/HomePage')
          h1 Welcome back!
          div
            input#login(name='name', type='text', placeholder='Login', required='')
          div
            input#password(name='password', type='password', placeholder='Password', required='')
          div
            input(type='submit', value='Log in')
            a(href='#') Forgot your password?
            a(href='register.html') Register
